.home{
    display: flex;
    background-color: aquamarine;
    background-image: url(Assets/Tree.jpg);
}
.postforall{
    text-decoration: none;
    color: #000000;
    opacity: 0.9;
}
.homeimages{
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap:2.5vh;
    grid-column-gap:1vw;
    margin-top:60px;
    margin-bottom: 100px;
}
.verticalGallery{
    height: 82.5vh;
    width: 59.1vw;
    background-image: url(Assets/centertree.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius:7px;
    opacity:0.9;
   border: 1px solid #F0F0F0;
}
.titleofvg{
    font-family: 'Montserrat', sans-serif;
    font-size:40px;
    color:#ffffff;
    font-weight:500;
    position:relative;
    bottom:-290px;
    right:-80px;
}
.dateofvg{
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
    color: #FCFCFC;
    opacity: 0.57;
    position:relative;
    bottom:-300px;
    right:-85px;
}
.verticalGallerybottom{
    height: 75vh;
    width: 55vw;
    background-image: url(https://images.unsplash.com/photo-1640868618785-5f5db98d0f76?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);
    background-position: cover;
    background-repeat: no-repeat;
    border-radius:3px;
    opacity:0.9;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
   text-align: center;
    
    margin-top: 10vh;
}
.vgbtitle{
    font-size: 36px;
    position: relative;
    bottom: -250px;
   
  
}
.vgbdate{
    font-size: 18px;
    position: relative;
    bottom: -290px;
}
.righttop{
    background-image: url(Assets/cover.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    border: 1px solid #F0F0F0;
    width: 24vw;
    height: 40vh;
    opacity:0.9;
    border-radius:7px;
}
.titlert{
    font-family: 'Montserrat', sans-serif;
    font-size:25px;
    color:#ffffff;
    font-weight:500;
    position:relative;
    bottom:-105px;
    right:-20px;
}
.datert{
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
    color: #FCFCFC;
    opacity: 0.57;
    position:relative;
    bottom:-115px;
    right:-20px;
}
.rightbottom{
    background-image: url(Assets/cover.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    width: 24vw;
    height: 40vh;
    opacity:0.9;
    border-radius:7px;
    border: 1px solid #F0F0F0;

}
.latest{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: #000000;
    font-weight: 400;
}
.latesthr{
    margin-bottom: 2vh;
    width: 6.5vw;
    height: 3px;
    background-color: #F08080;
    position: relative;
    left: -38.8vw;
    top: -12px;
    box-shadow: none;
    border: none;
    
   
    
}
.topposthr{
    width: 6.5vw;
    height: 3px;
    background-color: #F08080;
    position: relative;
    left: -9.7vw;
    top: -12px;
    box-shadow: none;
    border: none;
    
   
    
}


.leftSide{
    display: flex;
    /* margin-bottom: 110px; */
    /* position: relative; */
    /* left: -6.6vw; */
    width: 90%;
   

}
.leftsidediv{
    font-family: 'Montserrat', sans-serif;
    color: #404040;
    font-size: 16px; 
    
  
 
}

.leftsideimage{
    width: 25.8vw;
    height: 40vh;
    border-radius: 7px;
    margin-right: 3.35vw;
 
}
.leftSidehead{
font-size: 30px;
font-weight: 300;
width: 85%;
margin-left: 1.2vw; 
}


.leftSidedetails{
    color: #908D8D;
    font-family: 'Open Sans', sans-serif;
    width: 85%;
    margin-bottom: 55px;
    margin-left: 1.2vw; 

}
.leftSidetype{
margin-left: 1.2vw; 
    
}.leftSidedate{
    opacity: 0.24;
    margin-left: 1.2vw; 

}

.leftdiv{
    display: flex;
}

.imagediv{
    height: 15vw;
    width:20vw;
    margin: 15px 0px;
    border-radius: 2px;
    margin-left: 40px;
    margin-right: 70px;
}
.contentdiv{
    
    width: 20vw;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-left: -10px;


}
.arrowdiv{
    height: 20px;
    margin: 40px 0px;
    margin-left: 5vw;
}

.downarrow{
    
    width: 11px;
    height: 20px;
    background-image: url(./Assets/arrow.svg);   
    display: inline-block;
    margin-right: 14px;
    background-position: cover;
}
.arrow{
    position: relative;
    top: -4px;
    display: inline-block;
    height: 20px;
   font-size: 16px;
    color: #A2A2A2;
    font-family: 'Open Sans', sans-serif;
    
}
.rightarrow{
    
    width: 20px;
    height: 11px;
    background-image: url(./Assets/arrow\ \(1\).svg);   
    display: inline-block;
    margin-left: 14px;
    background-position: cover;
    position: relative;
    top: -4px;
}
.bottomheading{
font-size: 22px;
width: 20vw;
font-family: 'Montserrat', sans-serif;


}
.bottomdesc{
    color: #908D8D;
    margin: 30px 0px ;
}
.bottomspan1{
    color: #404040;
}
.bottomspan2{
    color: #404040;
    opacity: 0.24;
}
.bottomarticle{
    
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    
}
.Bottomcontentdiv{
    border-right: 2.5px solid #F0F0F0;
    width: 24vw;
    padding-right:2vw;
}
.Bottomcontentdiv:last-child{
   border: none; 
}
.right{
 width: 26vw;
}
.top{
    display: flex;
   
    width: 100vw;
   
}
.left{
 width: 58vw;
    
    }
   
.advdiv{
    margin-top: 3vh;
    height: 120vh;
    border: 3px solid #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.adv{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
    color: #000000;
    width: 18vw;
    height: 40px;
}
.rightdiv{
    
    
}
.rightdivmain{
    display: flex;
}
.rightdivimage{
width:8vw;
height: 8vw;
border-radius: 2px;
margin-right: 1.7vw;
}
.rightdivmain:first-child .rightdivimage{
    
    width:26vw;
    height: 16vw;
    
}
.rightdivmain:first-child .rightheading{
    width: 20vw;
    margin: 25px 0px;
}


.rightdivmain:first-child{
    display: initial;
}


.rightheading{
    font-size: 24px;
  
}
   
.rightspan1{
    color: #404040;
}
.rightspan2{
    color: #404040;
    opacity: 0.24;  
}
.rightcontentdiv{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-left: -40px;
}
   
.bottom{
    display: flex;
    justify-content: space-evenly;

}
.minushr{
    height: 3px; 
    background-color: #F0F0F0;
    box-shadow: none;
    margin:20px 0px;
    border: none;
   
}
.minushr:last-child{
display: none;
}
